                body {
            font-family: Arial;
            background: #be9138f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .calculator {
            background: rgb(7, 210, 228);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgb(12, 230, 4);
        }
        .calculator:hover{
            background-color: rgb(220, 238, 20);
        }
        input {
            width: 100%;
            height: 80px;
            font-size: 20px;
            margin-bottom: 20px;
            text-align: right;
        }
        input:hover{
            transform: scale(1.1);
            background-color: rgb(248, 243, 242);
            color: black;
            transform:skew(20deg);
            transition: 2s;

        }
        
        button {
            width: 60px;
            height: 50px;
            font-size: 20px;
            margin: 5px;
            cursor: pointer;
            border: 2px solid transparent;
        }
        
        button:hover{
            border: 5px solid rgb(31, 14, 221);
            background-color: rgba(108, 239, 32, 0.867)g;
        }
       
        


